*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --br-rs: 0.4rem;
}

body {
  background-color: rgb(0, 5, 26);
  color: white;
  line-height: 1.5;
}

header {
  margin: 2rem auto;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

main {
  width: min(1100px, 85%);
  margin: 0 auto;
  background: linear-gradient(45deg, blueviolet, hotpink);
  padding: 1rem 4rem;
  border-radius: var(--br-rs);
}

.btn-container {
  margin: 2rem auto;
  margin-top: 0;
  width: 50%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 2rem;
  border-radius: var(--br-rs);
}

.btn {
  border: none;
  padding: 0.5rem 1rem;
  background: rgb(255 255 255 / 28%);
  border-radius: var(--br-rs);
  font-size: 2rem;
  font-weight: 100;
  color: white;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0px 0px 10px 4px rebeccapurple;
}

.container > * {
  background-color: rgba(255, 255, 255, 0.318);
  margin: 2rem 1rem;
  padding: 1rem;
  border-radius: var(--br-rs);
}

.listening {
  display: none;
  padding: 0.5rem;
  width: 30%;
  margin: 0 auto;
  text-align: center;
  background: linear-gradient(
    45deg,
    rgba(255, 177, 177, 0.361),
    rgba(154, 154, 255, 0.418)
  );
  border-radius: var(--br-rs);
}

@media (max-width: 800px) {
  main {
    padding: 1rem;
  }
}

@media (max-width: 500px) {
  main {
    padding: 1rem 0;
  }
}
